.headingAndButtons {
    position: relative;
    width: 100%;
}

.right{
    height: 25px;
    width: 15%;
    position: absolute;
    right: 0px;
    top: 0px;
    
}

.left{
    width: 100%;
}

.taskPanelsContainer {
    width : 80%;
    text-align: center;
    margin:auto;
}