footer {
    height: 50px;
    display: grid;
    place-items: center;
    border-top: 1px solid rgb(91, 255, 91);
    background: rgb(91, 255, 91);
    width: 100%;
}

footer a {
    font-size: 70%;
    text-decoration: none;
    color: rgb(91, 255, 91);
}