header {
    color: white;
    background: rgb(91, 255, 91);
    display: flex;
    width: 100%;
}

header a {
    text-decoration: none;
}

header a image {
    filter: invert(1);
    margin-left: 10px;
}

header a h1 {
    color: White;
    margin-left: 10px;
    font-size: 200%;
}

 header a:hover,
 header a:active {
    color: orange;
 }

 header div.login {
    flex: 1;
    margin-right: 0.5rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
 }

