.menuContainer {
    align-content: center;
}

.menu {
    width : 80%;
    height: 100%;
    margin: auto;
    text-align: center;
    //background: rgb(221, 216, 209);
    background: rgb(148, 229, 155);
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 350px;
    border-radius: 10px;
}

.menuHeading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}