.menuItem {
    width : 70%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    background: #00e60c;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 900;
    color: rgb(245, 241, 241);
}

.menuItem:hover{
    width : 65%;
    background: #03cc0d;
}